<%#= render "shared/header"%>
<div class = "new-title">
<h1>新しい生き物</h1>
</div>
<%= form_with model: @content,locals: true do |f| %>
<%=f.label :image, "写真"%>
<%= f.file_field :image ,class: "image-form"%>

<div class = "name_form">
<%= f.label :name, "なまえ"%>
<%= f.text_field :name,class:"creature-name", placeholder:"わからない時は「？」を入れてね！", maxlength: "20" %>
</div>

<div class = "kind-form">
<%= f.label :kind_id, "種類"%>
<%= f.collection_select(:kind_id, Kind.all, :id, :name, {},{class: "kind-select"})%>
</div>

<div class = "place-form">
<%= f.label :place, "見つけた場所"%>
<%= f.text_field :place, class:"place-name"%>
</div>

<div class = "date-form">
<%=f.label :date, "見つけた日"%>
<%= f.text_field :date, class:"find-date"%>
</div>

<div class = "memo-form">
<%= f.label :memo, "メモ"%>
<%= f.text_area :memo, class: "momo",placeholder: "コメントを入力してね"%>
</div>

<div class = "submit-btn">
<%=f.submit "図鑑に追加！" %>
 </div>
<% end %>