  <div class = top-wrapper>
    <%= render "shared/header"%>
    <div class = "wrapper">
      <div class = "side_bar">
      </div>
      <div class = "comment-main">
      <div class = "comment_left-page">
      <% @comments.each do |comment|%>
      <div class = "comment_content">
        <div class = "comment_user">
          <%= "#{comment.user.name}さん：" %>
        </div>
        <div class = "comment">
          <%= comment.comment%>
        </div>
      </div>
      <% end %>
      </div>
        <div class = "comment_right-page">
          <div class = "show-image">
          <%= image_tag @content.image %>
          </div>
          <div class ="memo-area">
            <div class = "memo-tag">
            メモ：
            </div>
            <div class ="memo-content">
            <%= @content.memo%>
            </div>
          </div>
        </div>
      </div>
  </div>
  <%= render  "footer"%>
</div>