<div class = 'page_all'>
  <div class = 'index_left'>
    <% if @content.length != 0 %>
      <% @content.each do |content|%>
      <div class = "item-list">
        <%= link_to user_path(content.id) do%>  
          <div class = "content-image">
            <%= image_tag content.image %>
         
          </div>
        <% end %>
        <%= link_to "#{content.name}", user_path(content.id),class:'item_name' %> 
           <%= @kind %>
      </div>
      <% end %>
    <%else %>
      <div class = no_content>
      まだ見つけたことがありません
      </div>
    <% end %>
  </div>
  <div class = 'index_right'> 
    <div class = 'all'>
      <div class = 'all_tag'>
      見つけた生き物
      </div>
      <div class = 'count_all'>
        <%= "#{@content.length}種類"%>
      </div>
    </div>
    
    <div class = 'insects'>
      <div class = 'insects_tag'>
      虫の数
      </div>
      <div class = 'count_insects'>
        <%= "#{@content.where(kind_id:1).length}種類"%>
      </div>
    </div>
    <div class = 'animals'>
      <div class = 'animals_tag'>
      動物の数
      </div>
      <div class = 'count_animals'>
      <%= "#{@content.where(kind_id:2).length}種類"%>
      </div>
    </div>
    <div class = 'birds'>
      <div class = 'birds_tag'>
      鳥の数
      </div>
      <div class = 'count_birds'>
      <%= "#{@content.where(kind_id:3).length}種類"%>
      </div>
    </div>
    <div class = 'reptiles'>
      <div class = 'reptiles_tag'>
      は虫類の数
      </div>
      <div class = 'count_reptiles'>
      <%= "#{@content.where(kind_id:4).length}種類"%>
      </div>
    </div>
    <div class = 'amphibians'>
      <div class = 'amphibians_tag'>
      両生類の数
      </div>
      <div class = 'count_amphibians'>
      <%= "#{@content.where(kind_id:5).length}種類"%>
      </div>
    </div>
    <div class = 'fish'>
      <div class = 'fish_tag'>
      魚の数
      </div>
      <div class = 'count_fish'>
      <%= "#{@content.where(kind_id:6).length}種類"%>
      </div>
    </div>
    <div class = 'others'>
      <div class = 'others_tag'>
      その他の数
      </div>
      <div class = 'count_others'>
      <%= "#{@content.where(kind_id:7).length}種類"%>
      </div>
    </div>
    <div class = 'unknown'>
      <div class = 'unknown_tag'>
      わからない数
      </div>
      <div class = 'count_unknown'>
      <%= "#{@content.where(kind_id:8).length}種類"%>
      </div>
    </div>
  </div>
</div>