<div class = top-wrapper>
  <header class = header>
    <div class = "main-title">
      
     <%= "#{current_user.name}の図鑑"%>
    </div>
      <%= form_with( local: true, method: :get, class: "search-form") do |form| %> <%#url指定あとでする %>
        <%= form.text_field :keyword, placeholder: "生き物名で探す", class: "search-input" %>
        <%= form.submit "探す", class: "search-btn" %>
      <% end %>
           <%# kind place カラムにはないがcolorとかでも検索できたら面白そう%>
           <%# 検索はransackを使おうと思う%>

           
    <% if user_signed_in?%>
   <%= link_to "みんなの図鑑を見る",root_path,class: "to-mypage"%>
    <%= link_to "新しい生き物", new_content_path, class: "new-post"%>
      <div class = logout>
      <%= link_to 'ログアウト',  destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class ="user-session">
        <%= link_to 'ログイン', user_session_path, class: "login"%>
        <%= link_to '新規登録',  new_user_registration_path, class: "signin" %>
      </div>
    <% end %>
</header>
  <div class = "wrapper">
    <div class = "side_bar">
      <%= render "contents/side_bar"%>
    </div>
    <div class ="main">
      <%=render "contents/main"%>
    </div>
  </div>
  <%= render  "shared/footer"%>
</div>