<header class = header>
    <div class = "main-title">
      <% if user_signed_in?%>
      <%= "#{current_user.name}の図鑑"%>
      <% else %>
      <h1>生き物図鑑</h1>
      <% end %>
    </div>           
    <% if user_signed_in?%>
    <%= link_to "みんなの図鑑を見る", root_path%>
   <%= link_to "自分の図鑑を見る",user_path(current_user.id),class: "to-mypage"%>
      <div class = logout>
      <%= link_to 'ログアウト',  destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class ="user-session">
        <%= link_to 'ログイン', user_session_path, class: "login"%>
        <%= link_to '新規登録',  new_user_registration_path, class: "signin" %>
      </div>
    <% end %>
</header>